<h1>Welcome, <%= @user.username if current_user %> </h1>

<h2>Here are your recently saved beers:</h2>

<a href="/beers/new">Add A New Beer</a>
<br>
<br>
<%= "Oh no, you do not have any saved beers!<br><br>" if @user.beers.count == 0 %>

<% @user.beers.reverse.each do |beer| %>
    <h4><a href="/beers/<%=beer.id%>"><%= beer.name %></a></h4>
    <p>
      <%= beer.brewery.name %> 
      | <%= beer.brewery.town if beer.brewery.town != "" %>,
        <%= beer.brewery.state_or_region if beer.brewery.state_or_region != "" %>,
        <%= beer.brewery.country if beer.brewery.country != "" %>
    </p>
<% end %>

